.content {
  width: 1920px;
  background: #f7f7f7;

  .conContainer {
    margin-top: 20px;
    height: 1740px;
    width: 1130px;
    .mainLeft{
      float: left;
      iframe {
 
      }
    }
    .mainRight {
      width: 312px;
      height: 1680px;
      float: right;
      iframe {
        margin-top: 20px;
      }
      .myUpdate {
        position: relative;
        width: 312px;
        height: 160px;
        background: rgba(255, 255, 255, 1);
        border: 1px solid rgba(230, 230, 230, 1);
        .post {
          margin: 20px 20px 0 20px;
          width: 272px;
          height: 55px;
          background: rgba(19, 142, 212, 1);
          .postLeft {
            position: absolute;
            top: 38px;
            left: 87px;
            width: 20px;
            height: 20px;
          }
          .postRight {
            text-align: center;
            line-height: 55px;
            color: #ffffff;
            cursor: pointer;
          }
        }
        .checkInPart {
          margin: 10px 20px 10px 20px;
          width: 272px;
          height: 55px;
          position: relative;
          .checkIn {
            width: 101px;
            height: 55px;
            background: rgba(19, 142, 212, 1);
            float: left;
            padding-left: 36px;
            cursor: pointer;
            .checkInLeft {
              position: absolute;
              top: 17px;
              left: 18px;
              width: 24px;
              height: 22px;
            }
            .checkInRight {
              text-align: center;
              line-height: 55px;
              color: #ffffff;
            }
          }
          .checkInDetails {
            width: 171px;
            height: 55px;
            padding: 10px;
            background: rgba(255, 255, 255, 1);
            border: 2px solid rgba(19, 142, 212, 1);
            float: right;
            .detailsTop {
              margin: -6px 0 0 0;
              border-bottom: 1px solid #d9d9d9;
              font-size: 14px;
              padding: 0 0 2px 20px;
              color: #666666;
              .checkInIcon {
                width: 16px;
                height: 16px;
                position: absolute;
                left: 112px;
                top: 7px;
              }
            }
            .detailsBottom {
              margin: -4px 0 0 0;
              font-size: 14px;
              padding: 5px 0 2px 20px;
              color: #666666;
              .checkInIcon {
                width: 16px;
                height: 14px;
                position: absolute;
                left: 112px;
                top: 32px;
              }
            }
          }
        }
      }
    
      .sidebar {
        width: 312px;
        height: 820px;
        background: rgba(255, 255, 255, 1);
        margin-top: 20px;
        position: relative;
        border: 1px solid rgba(229, 229, 229, 1);
        .recommendTitle {
          font-size: 16px;
          font-weight: bold;
          color: rgba(51, 51, 51, 1);
          line-height: 24px;
          padding: 20px 0 0 20px;
        }
        .recommendModules {
          width: 270px;
          height: 180px;
          margin: 17px 20px 20px 20px;
          border: 1px solid rgba(229, 229, 229, 1);
          .module {
            width: 134px;
            height: 36px;
            border: 1px solid #e5e5e5;
            float: left;
            padding: 7px 0 6px 14px;
            font-size: 14px;
            font-weight: 400;
            color: rgba(102, 102, 102, 1);
            background: rgba(255, 255, 255, 1);
            cursor: pointer;
          }
          .module:hover {
            background: rgba(247, 247, 247, 1);
            color: rgba(19, 142, 212, 1);
          }
          .module9 {
            width: 270px;
            height: 36px;
            float: left;
            text-align: center;
            line-height: 36px;
            font-size: 14px;
            font-weight: 400;
            color: rgba(102, 102, 102, 1);
            border: 1px solid rgba(229, 229, 229, 1);
            position: relative;
            cursor: pointer;
            .arrow {
              width: 12px;
              height: 11px;
              position: absolute;
              left: 182px;
              top: 0;
            }
          }
          .module9:hover {
            background: rgba(247, 247, 247, 1);
            color: rgba(19, 142, 212, 1);
          }
        }
      
        .service {
          width: 270px;
          height: 135px;
          position: relative;
          margin: 0 auto;
          .title {
            font-size: 16px;
            font-family: MicrosoftYaHei-Bold;
            font-weight: bold;
            color: rgba(51, 51, 51, 1);
          }
          .hotLine {
            font-size: 16px;
            font-family: MicrosoftYaHei;
            font-weight: 400;
            color: rgba(51, 51, 51, 1);
            position: absolute;
            top: 40px;
            left: 70px;
          }
          .btn {
            width: 118px;
            height: 44px;
            border: 1px solid rgba(204, 204, 204, 1);
            border-radius: 6px;
            text-align: center;
            line-height: 44px;
            font-size: 16px;
            font-family: MicrosoftYaHei;
            font-weight: 400;
            color: rgba(51, 51, 51, 1);
            position: absolute;
            top: 75px;
            padding: 0 0 0 35px;
            .btnIcon {
              width: 22px;
              height: 22px;
              position: absolute;
              top: 12px;
              left: 14px;
            }
          }
          .onlineServise {
            cursor: pointer;
            left: 10px;
            .btnIcon1 {
              background: url("/static/image/icon/service.png");
            }
          }
          .onlineServise:hover {
            color: rgba(19, 142, 212, 1);
            .btnIcon1 {
              background: url("/static/image/icon/hlservice.png");
            }
          }
          .report {
            cursor: pointer;
            right: 10px;
            .btnIcon2 {
              background: url("/static/image/icon/report.png");
            }
          }
          .report:hover {
            color: rgba(19, 142, 212, 1);
            .btnIcon2 {
              background: url("/static/image/icon/hlreport.png");
            }
          }
        }
      }
      .barcode {
        margin-top: 20px;
        width: 312px;
        height: 310px;
        background: rgba(255, 255, 255, 1);
        border: 1px solid rgba(229, 229, 229, 1);
        text-align: center;
        font-size: 18px;
        font-family: MicrosoftYaHei;
        font-weight: 400;
        color: rgba(51, 51, 51, 1);
        padding: 50px;
        .code {
          width: 170px;
          height: 170px;
          background: black;
          margin: 20px;
        }
      }
    }
  }
}
