.fav {
  .moduleText {
    font-size: 14px;
    font-family: MicrosoftYaHei;
    font-weight: 400;
    color: rgba(102, 102, 102, 1);
    line-height: 53px;
  }
  .favModule {
    width: 1130px;
    height: 158px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(230, 230, 230, 1);
    .favInner {
      width: 1090px;
      margin: 0 20px 20px 20px;
      .myFavTop {
        width: 1090px;
        height: 62px;
        line-height: 62px;
        border-bottom: 1px solid rgba(230, 230, 230, 1);
      }
      .myFavBottom {
        text-align: center;
        line-height: 88px;
        .myFavBottomText1 {
          cursor: pointer;
          font-size: 16px;
          font-weight: 400;
          color: rgba(102, 102, 102, 1);
        }
        .myFavBottomText2 {
          cursor: pointer;
          font-size: 16px;
          font-weight: 400;
          color: rgba(30, 167, 244, 1);
        }
      }
    }
  }
}
.series {
  width: 1130px;
  height: 320px;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(230, 230, 230, 1);
  margin-top: 20px;
  .seriesInner {
    width: 1090px;
    margin: 0 20px 20px 20px;
    .allSeries {
      width: 1090px;
      height: 62px;
      line-height: 62px;
      border-bottom: 1px solid #e6e6e6;
    }
    .SeriesCt {
      position: relative;
      width: 320px;
      height: 76px;
      float: left;
      margin-bottom: 40px;
      margin: 20px 0 15px 38px;

      .productLeft {
        width: 74px;
        height: 74px;
        text-align: center;
        color: rgba(255, 255, 255, 1);
        font-size: 16px;
        font-weight: bold;
        padding-top: 20px;
        border-radius: 6px;
        background: linear-gradient(
          129deg,
          rgba(0, 229, 255, 1),
          rgba(106, 216, 230, 1),
          rgba(0, 183, 255, 1)
        );
      }
      .product {
        font-size: 24px;
        font-weight: 400;
        color: #333333;
        position: absolute;
        top: 14px;
        left: 96px;
      }
      .num {
        font-size: 12px;
        font-weight: 400;
        padding: 2px;
        color: rgba(255, 255, 255, 1);
        background: rgba(30, 167, 244, 1);
        border-radius: 4px;
        min-width: 16px;
        position: absolute;
        top: 24px;
        left: 228px;
      }
      .infoNum {
        font-size: 14px;
        font-weight: 400;
        color: rgba(153, 153, 153, 1);
        position: absolute;
        bottom: 10px;
        left: 96px;
      }
    }
  }
}
.intelligenceFinal {
  width: 1130px;
  height: 204px;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(230, 230, 230, 1);
  margin-top: 20px;
  .intelligenceFinalInner {
    width: 1090px;
    margin: 0 20px 20px 20px;
    .intelligenceFinalText {
      width: 1090px;
      height: 62px;
      line-height: 62px;
      border-bottom: 1px solid #e6e6e6;
    }
    .intelligenceCt {
      position: relative;
      width: 320px;
      height: 76px;
      float: left;
      margin-bottom: 40px;
      margin: 20px 0 15px 38px;

      .intelligenceLeft {
        width: 74px;
        height: 74px;
        background: black;
      }
      .product {
        font-size: 24px;
        font-weight: 400;
        color: #333333;
        position: absolute;
        top: 14px;
        left: 96px;
      }
      .num {
        font-size: 12px;
        font-weight: 400;
        padding: 2px;
        color: rgba(255, 255, 255, 1);
        background: rgba(30, 167, 244, 1);
        border-radius: 4px;
        min-width: 16px;
        position: absolute;
        top: 24px;
        left: 228px;
      }
      .infoNum {
        font-size: 14px;
        font-weight: 400;
        color: rgba(153, 153, 153, 1);
        position: absolute;
        bottom: 10px;
        left: 96px;
      }
    }
  }
}
.intelligence {
  width: 1130px;
  height: 320px;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(230, 230, 230, 1);
  margin-top: 20px;
  .intelligenceInner {
    width: 1090px;
    margin: 0 20px 20px 20px;
    .intelligenceText {
      width: 1090px;
      height: 62px;
      line-height: 62px;
      border-bottom: 1px solid #e6e6e6;
    }
    .intelligenceCt {
      position: relative;
      width: 320px;
      height: 76px;
      float: left;
      margin-bottom: 40px;
      margin: 20px 0 15px 38px;

      .productLeft {
        width: 74px;
        height: 74px;
        background: black;
      }
      .product {
        font-size: 24px;
        font-weight: 400;
        color: #333333;
        position: absolute;
        top: 14px;
        left: 96px;
      }
      .num {
        font-size: 12px;
        font-weight: 400;
        padding: 2px;
        color: rgba(255, 255, 255, 1);
        background: rgba(30, 167, 244, 1);
        border-radius: 4px;
        min-width: 16px;
        position: absolute;
        top: 24px;
        left: 228px;
      }
      .infoNum {
        font-size: 14px;
        font-weight: 400;
        color: rgba(153, 153, 153, 1);
        position: absolute;
        bottom: 10px;
        left: 96px;
      }
    }
  }
}
