.topNav {
  width: 100%;
  height: 36px;
  background: rgba(64, 64, 64, 1);
  .topNavPart {
    margin: 0 auto;
    width: 1130px;
    background: rgba(64, 64, 64, 1);
    position: relative;
    span {
      float: left;
      font-size: 14px;
      line-height: 36px;
      margin-right: 22px;
      color: #b7b7b7;
    }
    .last {
      color: rgba(255, 255, 255, 1);
    }
    span:hover {
      color: #ffffff;
      cursor: pointer;
    }
    .mine {
      .profilePic {
        position: absolute;
        right: 66px;
        top: 4px;
        background-color: white;
        width: 28px;
        height: 28px;
        border-radius: 50%;
        line-height: 36px;
      }
      .idName {
        position: absolute;
        right: 0;
        top: 0;
        margin: 0;
        width: 60px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        cursor: pointer;
      }
      .myInfo {
        width: 234px;
        height: 284px;
        background: url(/static/image/icon/myinfo.png);
        position: absolute;
        top: 23px;
        right: 15px;
        z-index: 3;
        display: none;
        .myInfoTop {
          width: 188px;
          height: 48px;
          margin: 26px;
          .profilePic {
            width: 47px;
            height: 47px;
            border-radius: 50%;
            background: black;
            position: absolute;
            left: 27px;
            top: 28px;
          }
          .profileLeft {
            .idName {
              font-size: 14px;
              font-weight: 400;
              color: rgba(51, 51, 51, 1);
              width: 60px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              position: absolute;
              top: 26px;
              left: 82px;
            }
            .position {
              font-size: 12px;
              font-weight: 400;
              color: rgba(153, 153, 153, 1);
              position: absolute;
              top: 43px;
              left: 82px;
            }
            .profileLeftBottom {
              .experience {
                font-size: 12px;
                font-weight: 400;
                color: rgba(153, 153, 153, 1);
                position: absolute;
                top: 58px;
                left: 82px;
              }
              .wealth {
                font-size: 12px;
                font-weight: 400;
                color: rgba(153, 153, 153, 1);
                position: absolute;
                top: 58px;
                left: 161px;
              }
            }
          }
        }
        .myInfomiddle {
          width: 202px;
          height: 152px;
          position: absolute;
          top: 82px;
          left: 24px;
          .hlbtn {
            width: 94px;
            height: 32px;
            background: rgba(22, 132, 194, 1);
            color: rgba(255, 255, 255, 1);
            border-radius: 6px;
            float: left;
            margin: 0 6px 7px 1px;
            line-height: 32px;
            position: relative;
            cursor: pointer;
            padding-left: 43px;
            font-size: 14px;
            .btnIcon {
              width: 16px;
              height: 16px;
              position: absolute;
              left: 23px;
              top: 1px;
            }
            .msg {
              width: 8px;
              height: 8px;
              background: rgba(253, 47, 47, 1);
              border-radius: 50%;
              position: absolute;
              top: -2px;
              left: 89px;
            }
          }
          .btn {
            width: 94px;
            height: 32px;
            line-height: 32px;
            background: rgba(245, 245, 245, 1);
            border: 1px solid rgba(213, 213, 213, 1);
            float: left;
            margin: 0 6px 7px 1px;
            cursor: pointer;
            padding-left: 41px;
            position: relative;
            font-size: 14px;
          }
          .btnIcon {
            width: 16px;
            height: 16px;
            position: absolute;
            left: 20px;
            top: 2px;
          }
          .btn:hover {
            background: rgba(232, 232, 232, 1);
          }
        }
        .myInfobottom {
          position: absolute;
          bottom: 0;
          left: 12.7px;
          font-size: 14px;
          .bottomBtn {
            float: left;
            width: 110px;
            height: 40px;
            background: rgba(245, 245, 245, 1);
            border: 1px solid rgba(213, 213, 213, 1);
            line-height: 40px;
            text-align: center;
            cursor: pointer;
          }
          .bottomBtn:hover {
            background: rgba(232, 232, 232, 1);
          }
        }
      }
    }
    .mine:hover .myInfo {
      display: block !important;
    }
  }
}
header {
  width: 100%;
  height: 116px;
  background: rgba(255, 255, 255, 1);
  .nav {
    margin: 0 auto;
    width: 1130px;
    height: 116px;
    background: rgba(255, 255, 255, 1);
    cursor: pointer;
    .headPart {
      background: rgba(255, 255, 255, 1);
      .head {
        width: 1130px;
        height: 68px;
        background: rgba(255, 255, 255, 1);
        position: relative;
        border-bottom: 1px solid #e6e6e6;
        .logo {
          width: 120px;
          height: 37px;
          position: absolute;
          left: 0;
          top: 22px;
        }
        .title {
          width: 114px;
          height: 25px;
          position: absolute;
          left: 159px;
          top: 24px;
          padding-left: 16px;
          margin-left: -22px;
          border-left: 1px solid #e6e6e6;
        }
      }
    }
    .mainNav {
      height: 47px;
      background: rgba(255, 255, 255, 1);
    }
    a {
      color:rgba(51,51,51,1);
      span {
        line-height: 47px;
        float: left;
        margin: 0 37.5px;
      }
    }
    span:hover {
      color: rgba(0, 133, 208, 1);
    }
    span:hover .sec .circle {
      display: block;
    }
    .sec {
      position: relative;
      .circle {
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background: rgba(0, 133, 208, 1);
        position: absolute;
        top: 38px;
        left: 158px;
        display: none;
      }
      .section {
        width: 880px;
        // height: 478px;
        position: absolute;
        top: 55px;
        left: -12px;
        // background: url(/static/image/icon/windows2.png);
        background: white;
        z-index: 10;
        overflow: hidden;
        display: none;
        .inner {
          width: 748px;
          position: relative;
          top: 35px;
          left: 70px;
          .module {
            width: 748px;
            overflow: hidden;
            .series {
              font-size: 18px;
              font-weight: 400;
              color: rgba(0, 133, 208, 1);
              float: left;
              width: 20%;
              padding-bottom: 100%;
              margin-bottom: -100%;
            }
            .brands {
              float: right;
              width: 80%;
              border-bottom: 1px solid rgba(238, 238, 238, 1);
              .brand {
                float: left;
                font-size: 18px;
                font-weight: 400;
                color: rgba(51, 51, 51, 1);
                padding: 8px 0 9px 44px;
                position: relative;
                .brandCircle {
                  width: 6px;
                  height: 6px;
                  border-radius: 50%;
                  background: rgba(202, 202, 202, 1);
                  position: absolute;
                  top: 18px;
                  left: 24px;
                }
              }
            }
          }
        }
      }
    }
  }
}
